.pagination {
    align-items: center;
    border-radius: 8px;
    display: flex;
    font-size: .8rem;
    gap: .3rem;
}

.pageInput {
    font-size: .8rem;
    margin: 0 .2rem;
    padding: .5rem;
}