.container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  
  .toast {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px #a78b9d;
    color: #725a79;
    font-weight: 700;
    padding: 1rem 1.5rem;
    opacity: 0;
    animation: fadeInOut 3s ease-in-out forwards;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-2rem);
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-2rem);
    }
  }
  