@import "reset.css";

:root {
    --title-font: "PT Serif", serif;
    --brand-color: #9986ac;
    --bg-color: #f4f6fa;
}

body {
    background-color: var(--bg-color);
    color: #6c5c7c;
    font-family: "Quicksand", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    padding: 2rem;
}

strong {
    font-weight: 600;
}

main {
    max-width: 1080px;
    margin: 0 auto;
}

.heading-title {
    font-family: var(--title-font);
    font-size: 2rem;
}

.content-top {
    align-items: center;
    display: flex;
    justify-content: space-between;

    & .title {
        font-family: var(--title-font);
        font-size: 2rem;
    }
}

.section-title {
    font-family: var(--title-font);
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

button {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 0 0 10px #7e95a64a;
    overflow: hidden;
    width: 100%;
}

th,
td {
    padding: .8rem;
    text-align: left;
    vertical-align: middle;

    &.action-cell {
        text-align: right;
        width: 95px;
    }
}

th {
    background-color: #c1b2c7;
    color: #4f264b;
    font-weight: 600;
}

tr:nth-child(2n) {
    background-color: #ede8efad;
}

tr:hover {
    background-color: #fbfbfc;
}

.action-button {
    background-color: transparent;
    border: 0 none;
    color: #b49fbc;
    cursor: pointer;
    font-size: 1rem;
    transition: all .3s;

    &:hover {
        color: #9880a1;
    }

    &:first-of-type {
        margin-right: .8rem;
    }
}

.search-area {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 3rem;

    & input {
        width: 400px;
    }
}

.btn,
select {
    background-color: #fff;
    border: 1px solid #c1b2c7;
    border-radius: 4px;
    color: #7b688e;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 1rem;
}

select {
    padding: .75rem 1rem;
}

.item-name {
    font-weight: 600;
}

.item-sku {
    font-size: .8rem;
    margin-top: 0.25rem;
}

.quantity-badge {
    background-color: #e4e1eaad;
    border-radius: 4px;
    display: inline-block;
    padding: .25rem .6rem;

    &.out-of-stock {
        background-color: #e35d80;
        color: #fff;
        font-weight: 600;
    }

    &.low-stock {
        background-color: #b6aacb;
        color: #fff;
        font-weight: 600;
    }
}

.error-message {
    margin-bottom: 1rem;
}

/* Button to open the dialog */
#openModalButton {
    align-items: center;
    background-color: #ea5c7e;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 0 8px #ae3f59a4;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    padding: 1rem 1.3rem;
    transition: all .3s;

    & i {
        font-size: 1.3rem;
        margin-right: 8px;
    }

    &:hover {
        background-color: #d74a6b;
        box-shadow: 0 0 8px #63517580;
    }

    &:focus {
        background-color: #c93d5e;
        box-shadow: 0 0 8px #635175c1;
    }
}

/* Style for the dialog */
dialog {
    border: 0;
    border-radius: 8px;
    box-shadow: 0 0 10px #a89fa960;
    padding: 1.75rem;
    width: 400px;

    &::backdrop {
        background-color: var(--brand-color);
        opacity: .5;
    }
}

dialog[open] {
    animation: open .6s forwards;
}

@keyframes open {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.dialog-title {
    color: #6c5c7c;
    font-family: var(--title-font);
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
}

input,
textarea {
    border: 1px solid #c1b2c7;
    border-radius: 4px;
    box-sizing: border-box;
    color: #6c5c7c;
    font-family: "Quicksand", serif;
    font-weight: 500;
    font-size: 1rem;
    padding: .7rem .7rem;
}

.form-row {
    margin-bottom: 1.2rem;
}

.form-label {
    color: #7e728a;
    display: block;
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.form-input {
    width: -moz-available;

    &.quantity {
        width: 65px;
    }
}

.form-fields {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
}

.button-wrapper {
    display: flex;
    gap: .8rem;
    justify-content: flex-end;
    margin-top: 2rem;
}

.primary-button {
    background-color: #9986ac;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: .6rem .8rem;
    transition: all .2s;

    &:hover {
        background-color: #77648a;
    }

    &:focus {
        background-color: #5e4d70;
    }
}

.ghost-button {
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    color: #5e4d70;
    cursor: pointer;
    padding: .6rem .8rem;
    transition: all .2s;

    &:hover {
        background-color: #efedf2;
    }

    &:focus {
        background-color: #c2b8cf;
    }
}

/* Toast message styles */
.toast {
    align-items: center;
    background-color: #a78b9d;
    border-radius: 4px;
    bottom: -20rem;
    box-shadow: 0 2px 4px #a78b9d;
    color: white;
    display: flex;
    left: 50%;
    opacity: 0;
    padding: 16px;
    position: fixed;
    transition: all 0.4s;
    z-index: 20;
}

.toast.show {
    bottom: 2rem;
    opacity: 1;
}


.h-flex-grow {
    flex-grow: 1;
}

.h-icon {
    font-size: 1.3rem;
    margin-right: .8rem;
}

.h-show {
    display: block !important;
}

.h-hide {
    display: none !important;
}

/*  */

.scanning-area {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#barcodeInput {
    width: 400px;
}

.barcode-image {
    width: 100%;
    margin: 20px 0 0;
}

#scannedItemsList {
    list-style-type: none;
    padding: 0;
}

#scannedItemsList li {
    margin: 10px 0;
}

.scanned-items-list {
    display: none;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 0px;
    background: #fff;
    padding: .5rem 2rem 1rem;
    margin-top: 2rem;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 15px 0px #c1b2c740;
    position: relative;

    & li {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
}

.scanned-items-list::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 20px;
    width: 100%;
    left: 0;
    background: url(/images/receipt_bg.svg) bottom;
    background-size: 200%;
}

#totalScannedItems {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-top: 2px dotted #111;
    padding-top: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}

.sidebar {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;

    & .navigationLink {
        display: grid;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        padding: 0.7rem 0.75rem;
        border-radius: 6px;
        text-decoration: none;
        color: #8a6d95;
        margin-bottom: 1rem;
        place-items: center;

        &.active,
        &:hover {
            background-color: #fff;
            box-shadow: 0px 2px 4px 0px rgba(162, 166, 187, 0.50);
        }
    }

    &.collapsed .label {
        display: none;
    }
}

.navigation {
    margin-top: 2.5rem;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

label {
    display: block;
    color: #957D9D;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 4px;
}

/* DIALOG */

.dialog-title {
    font-family: var(--title-font);
    font-size: 1.5rem;
}

dialog input {
    display: block;
    width: 100%;
}

.input-group {
    margin-bottom: 1.25rem;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.75rem;
}

.help-text {
    color: #957D9D;
    display: block;
    font-size: .875rem;
    font-weight: 500;
    margin-top: .25rem;
}

/* BUTTONS */

/* CTA */
.button-cta {
    background-color:#E04A6E;
    border: 0;
    border-radius: 3.125rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 10px 0px rgba(224, 74, 110, 0.60);
    font-family: Quicksand;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    padding: 1rem 1.5rem;
    transition: all 0.3s;

    & i {
        margin-right: .75rem;
    }

    &:hover {
        background: #CF3D60;
        box-shadow: 0px 2px 10px 0px rgba(207, 61, 96, 0.60);
    }

    &:active {
        background: #B92D4E;
        box-shadow: none;
    }
}

/* PRIMARY */
.button-primary {
    background-color:#E04A6E;
    border: 0;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    font-family: Quicksand;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    padding: 0.625rem 1rem;
    transition: all 0.3s;

    & i {
        margin-right: .75rem;
    }

    &:hover {
        background: #CF3D60;
    }

    &:active {
        background: #B92D4E;
    }
}

/* GHOST */
.button-ghost {
    background-color:#fff;
    border: 0;
    border-radius: .5rem;
    color: #725A79;
    cursor: pointer;
    font-family: Quicksand;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    padding: 0.625rem 1rem;
    transition: all 0.3s;

    & i {
        margin-right: .75rem;
    }

    &:hover {
        background: rgba(176, 136, 189, 0.20);
    }

    &:active {
        background: rgba(176, 136, 189, 0.30);
    }
}