.searchBar {
    position: relative;
    width: fit-content;
}

.button {
    background-color: #fff;
    border: 0 none;
    color: var(--icon-color);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);    

    &:hover {
        color: #906c9c;
    }

    &:focus-visible {
        color: #6a4975;
    }
}

.label {
    display: none;
}

.input-size-lg {
    width: 450px;
}

.input-size-md {
    width: 320px;
}