.sidebar {
    background-color: var(--bg-color);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    transition: all .2s;

    & .navigationLink {
        align-items: center;
        border-radius: 6px;
        color: #957D9D;
        display: flex;
        font-weight: 700;
        gap: .75rem;
        height: 1.5rem;
        justify-content: flex-start;
        margin-bottom: 1rem;
        overflow: hidden;
        padding: 0.5rem 0.75rem;
        text-align: center;
        text-decoration: none;
        width: 100%;
        white-space: nowrap;
        transition: all .2s;

        &.active,
        &:hover {
            background-color: #fff;
            box-shadow: 0px 2px 4px 0px rgba(162, 166, 187, 0.50);
            color: #725A79;
        }
    }

    &.collapsed {
        & .navigationLink {
            justify-content: center;
            width: 1.5rem;
        }

        & button.navigationLink {
            width: auto;
        }
    }
}

@media screen and (max-width: 1400px) {
    .navigationLink{
        width: auto;
    }
    
    .appName,
    .navigationLink span,
    .profile-name {
        display: none;
    }
}

button.navigationLink {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    font-family: "Quicksand", "Quicksand Fallback";
    font-size: 1rem;
    height: 40px !important;
}

.chevron {
    font-size: .875rem;
}

.navigation {
    margin-top: 2.5rem;
}

.logoLink {
    color: #6F4F81;
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
    gap: .75rem;
    text-decoration: none;
}

.button {
    background-color: #fff;
    border: 0;
    border-radius: .5rem;
    color: #725A79;
    cursor: pointer;
    display: grid;
    padding: .75rem 1rem;
    place-items: center;
    width: fit-content;

    &:hover {
        background-color: rgba(176, 136, 189, 0.20);
    }

    &:active {
        background-color: rgba(176, 136, 189, 0.30);
    }
}

.subMenu {
    list-style: none;
    margin: 0.5rem 0 1rem 1.5rem;
    padding: 0;
}

.subLink {
    color: #957D9D;
    display: block;
    font-weight: 600;
    padding: .25rem 0 .25rem 1.2rem;
    text-decoration: none;
    margin-bottom: 0.25rem;

    &.active,
    &:hover {
        color: #614968;
        font-weight: 700;
    }
}

.profileLink {
    align-items: center;
    border-radius: 6px;
    display: flex;
    gap: .5rem;
    padding: .5rem 1rem;
    text-decoration: none;

    &:hover {
        background-color: #f4e6f8;
    }
}

.profile-image {
    border-radius: 50%;
    display: block;
    height: 2.5rem;
    width: 2.5rem;
}

.profile-name {
    color: #957D9D;
    font-weight: 600;
    font-size: 0.875rem;
}