.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}

.icon {
    color: var(--icon-color);
    font-size: 2rem;
}

.image {
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

.subtitle {
    color: #725a79;
    margin: 0;
}

.actions {
    margin-top: 1rem;
}
